@model IEnumerable<AdministracionCRUD.Models.Marca>

@{
    ViewData["Title"] = "Index";
}

<h1>Listaado de marcas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Marcas" asp-action="Index">
    <p>
        Buscar: 
        <input type="text" name="buscar" class="form-text"/>
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark"/>
    </p>
</form>

<form asp-action="ExportExcelMarca" asp-controller="Export" method="post">
    <button class="btn btn-success" type="submit">Exportar Excel</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exactitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exactitud)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
