@model IEnumerable<AdministracionCRUD.Models.Marca>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado de Marcas</h1>

<div class="contenedor">
    <form asp-controller="Marcas" asp-action="Index">
        Buscar:
        <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
        <a asp-action="Create" class="btn btn-sm btn-dark">Crear Nuevo Registro</a>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exactitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exactitud)%
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-dark">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-dark">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-dark">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="ExportExcelMarca" asp-controller="Export" method="post">
    <button class="btn btn-sm btn-dark" type="submit">Exportar Excel</button>
</form>