@using AdministracionCRUD.Models

@model IEnumerable<AdministracionCRUD.Models.Equipo>

@{
    ViewData["Title"] = "Listado de Equipos";
}

<h1>Lista de Equipos</h1>

<div class="contenedor">
    <form asp-controller="Equipoes" asp-action="Index">
        Buscar por Nombre:
        <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
        <a class="btn btn-sm btn-dark" asp-action="Create">Crear Nuevo Registro</a>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMarcaNavigation.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMarcaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-dark">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-dark">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-dark">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<form asp-action="ExportExcelEquipo" asp-controller="Export" method="post">
    <button class="btn btn-sm btn-dark" type="submit">Exportar Excel</button>
</form>